@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@using MovieRama.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div style="padding-top: 15px; padding-bottom:15px; color:#9d9d9d;">@SharedLocalizer["Hello"] @UserManager.GetUserName(User)!</div>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@SharedLocalizer["Log out"]</button>

</li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">@SharedLocalizer["Register"]</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">@SharedLocalizer["Log in"]</a></li>

</ul>
}
