﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization

@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model MovieRama.Models.MoviesViewModels.MovieViewModel

@{ if (Model.Likes == 0 && Model.Hates == 0)
    {
        if (Model.CanExpressImpression)
        {
            if (!SignInManager.IsSignedIn(User))
            {
                <a asp-area="" asp-controller="Account" asp-action="Login">@SharedLocalizer["Be the first to vote for this movie"]</a>
            }
            else
            {
                <p>
                    @SharedLocalizer["Be the first to vote for this movie"]
                </p>
            }
        }
        else
        {
            <p>
                0 @SharedLocalizer["Likes"] | 0 @SharedLocalizer["Hates"]
            </p>
        }
    }
    else
    {
        var likeLabel = Model.Likes == 1 ? @SharedLocalizer["Like"].Value : @SharedLocalizer["Likes"].Value;
        var hateLabel = Model.Hates == 1 ? @SharedLocalizer["Hate"].Value : @SharedLocalizer["Hates"].Value;
        <p>
            @Html.DisplayFor(modelItem => Model.Likes) @likeLabel | @Html.DisplayFor(modelItem => Model.Hates) @hateLabel
        </p>
    }
}

@{ if (SignInManager.IsSignedIn(User) && Model.CanExpressImpression)
    {
        var id = Model.ID;
        var likeButtonClass = Model.HasLiked ? "btn-primary" : "btn-default";
        var hateButtonClass = Model.HasHated ? "btn-primary" : "btn-default";

        <div class="tpbutton btn-toolbar text-center">
            <form asp-action="Like">
                <input type="hidden" asp-for="@id" />
                <input type="submit" value="@SharedLocalizer["Like"]" data-id="@id" class="btn @likeButtonClass likeBtnClass" style="margin-right: 5px;" />
            </form>

            <form asp-action="Hate">
                <input type="hidden" asp-for="@id" />
                <input type="submit" value="@SharedLocalizer["Hate"]" data-id="@id" class="btn @hateButtonClass hateBtnClass" />
            </form>
        </div>
    }
}
