﻿@using Microsoft.AspNetCore.Mvc.Localization
@using MovieRama.Models.Query

@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    var dateString = SharedLocalizer["Date"].Value;
    var likesString = SharedLocalizer["Likes"].Value;
    var hatesString = SharedLocalizer["Hates"].Value;
    var ascString = SharedLocalizer["Asc"].Value;
    var descString = SharedLocalizer["Desc"].Value;
}

<div class="container-fluid">
    <div class="row panel panel-default">
        <div class="col-md-2">
            @SharedLocalizer["Order by"]:
        </div>
        <div class="col-md-8">
            @{ if (ViewBag.OrderParam == "date")
            {
                <b>@dateString</b>
                <text> | </text>
                @Html.ActionLink(likesString, "Index",  new MovieQueryModel() { UserID = ViewBag.UserId, SortParam = "likes", SortDir = ViewBag.OrderDir, SearchString = ViewBag.SearchString } )
                <text> | </text>
                @Html.ActionLink(hatesString, "Index", new MovieQueryModel() { UserID = ViewBag.UserId, SortParam = "hates", SortDir = ViewBag.OrderDir, SearchString = ViewBag.SearchString })
            }
            else if (ViewBag.OrderParam == "likes")
            {
                @Html.ActionLink(dateString, "Index", new MovieQueryModel() { UserID = ViewBag.UserId, SortParam = "date", SortDir = ViewBag.OrderDir, SearchString = ViewBag.SearchString })
                <text> | </text>
                <b>@likesString</b>
                <text> | </text>
                @Html.ActionLink(hatesString, "Index", new MovieQueryModel() { UserID = ViewBag.UserId, SortParam = "hates", SortDir = ViewBag.OrderDir, SearchString = ViewBag.SearchString })
            }
            else if (ViewBag.OrderParam == "hates")
            {
                @Html.ActionLink(dateString, "Index", new MovieQueryModel() { UserID = ViewBag.UserId, SortParam = "date", SortDir = ViewBag.OrderDir, SearchString = ViewBag.SearchString })
                <text> | </text>
                @Html.ActionLink(likesString, "Index", new MovieQueryModel() { UserID = ViewBag.UserId, SortParam = "likes", SortDir = ViewBag.OrderDir, SearchString = ViewBag.SearchString })
                <text> | </text>
                <b>@hatesString</b>
            }
            }
        </div>
        <div class="col-md-2">
            @{ if (ViewBag.OrderDir == "asc")
            {
                <b>@ascString</b>
                <text> | </text>
                @Html.ActionLink(descString, "Index", new MovieQueryModel() { UserID = ViewBag.UserId, SortParam = ViewBag.OrderParam, SortDir = "desc", SearchString = ViewBag.SearchString })
            }
            else if (ViewBag.OrderDir == "desc")
            {
                @Html.ActionLink(ascString, "Index", new MovieQueryModel() { UserID = ViewBag.UserId, SortParam = ViewBag.OrderParam, SortDir = "asc", SearchString = ViewBag.SearchString })
                <text> | </text>
                <b>@descString</b>
            }
            else
            {
                @Html.ActionLink(ascString, "Index", new MovieQueryModel() { UserID = ViewBag.UserId, SortParam = ViewBag.OrderParam, SortDir = "asc", SearchString = ViewBag.SearchString })
                <text> | </text>
                @Html.ActionLink(descString, "Index", new MovieQueryModel() { UserID = ViewBag.UserId, SortParam = ViewBag.OrderParam, SortDir = "desc", SearchString = ViewBag.SearchString })
            }
            }
        </div>
    </div>
</div>
