﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model MovieRama.Models.MoviesViewModels.MovieViewModel

@{
    ViewData["Title"] = @SharedLocalizer["Delete"];
}

<h2>@SharedLocalizer["Delete"]</h2>

<h3>@SharedLocalizer["Are you sure you want to delete this"]?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @SharedLocalizer["Title"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @SharedLocalizer["Description"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @SharedLocalizer["Added At"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="@SharedLocalizer["Delete"]" class="btn btn-default" /> |
        <a asp-action="Index">@SharedLocalizer["Back"]</a>
    </form>
</div>
