﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model MovieRama.Models.MoviesViewModels.MovieViewModel

@{
    ViewData["Title"] = @SharedLocalizer["Details"];
}

<h2>@SharedLocalizer["Details"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @SharedLocalizer["Title"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @SharedLocalizer["Description"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @SharedLocalizer["Username"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @SharedLocalizer["Added At"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTimeString)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">@SharedLocalizer["Edit"]</a> |
    <a asp-action="Index">@SharedLocalizer["Back"]</a>
</div>
