﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authorization
@using MovieRama.Models.Query

@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject IViewLocalizer Localizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@model IEnumerable<MovieRama.Models.MoviesViewModels.MovieViewModel>

@{
    ViewData["Title"] = Localizer["Movies"].Value;
}

<h2>@Localizer["Movie List"]</h2>

@if (SignInManager.IsSignedIn(User))
{
    <h3>
        <b><a asp-action="Create" class="btn btn-success">@Localizer["AddAMovie"]</a></b>
    </h3>
}

@{
    if (Model.Count() == 0)
    {
        <h3>
            <b>@Localizer["No Movies Found"]</b>
        </h3>
    }
    else
    {
        <form asp-action="Index" method="get">
            <div class="input-group add-on" style="padding-bottom:15px;">
                <input class="form-control" placeholder="@Localizer["Search"]" name="SearchString" value="@ViewData["SearchString"]" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default" value="Search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
        @await Html.PartialAsync("_OrderByPartial")
    }
}

<ul class="list-group">
    @foreach (var item in Model)
    {

        <li class="list-group-item" style="margin-bottom: 10px;">
            <h2>
                @Html.DisplayFor(modelItem => item.Title)
            </h2>
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p>
                <b><i>@Localizer["Posted By"] @Html.ActionLink(item.UserName, "Index", new MovieQueryModel() { UserID = item.UserID, SortParam = ViewBag.OrderParam, SortDir = ViewBag.OrderDir, SearchString = ViewBag.SearchString })  @Html.DisplayFor(modelItem => item.HumanReadableCreationTime)</i></b>
            </p>

            <div id="impression-@item.ID">@await Html.PartialAsync("_ImpressionPartial", item)</div>

            @{ if (SignInManager.IsSignedIn(User) && item.CanEdit)
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a>
                    <text> | </text>
                    <a asp-action="Details" asp-route-id="@item.ID">@Localizer["Details"]</a>
                    <text> | </text>
                    <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
                }
            }
        </li>
    }
</ul>

<script>
    $(document).on('click', '.likeBtnClass, .hateBtnClass', function (e) {
        e.preventDefault();
        var form = $(e.target).closest("form");
        var clickedId = $(e.target).data("id");
        var endpoint = form.attr("action");

        var jqXhr = $.ajax({
            url: endpoint,
            method: "POST",
            contentType: "application/json; charset=utf-8",
            headers:
            {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            data: JSON.stringify(clickedId)
        });

        jqXhr.done(function (data) {
            var id = '#impression-' + clickedId;
            $(id).html(data);
            //console.log(data);
        }).fail(function (xhr) {
            //console.log('error common back', xhr);
        });
    })
</script>
